<app-header></app-header>

<h2 class="text-center">Acerca de Nosotros</h2>
<br>
<figure class="text-center">
    <blockquote class="blockquote">
      <p>Somos una empresa colombiana dedicada a la venta de artículos por internet.</p>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur dolores corrupti assumenda beatae quam impedit eveniet asperiores. Excepturi quam neque id tenetur nobis, alias harum tempora officia aut consequuntur.</p>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur dolores corrupti assumenda beatae quam impedit eveniet asperiores. Excepturi quam neque id tenetur nobis, alias harum tempora officia aut consequuntur.</p>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur dolores corrupti assumenda beatae quam impedit eveniet asperiores. Excepturi quam neque id tenetur nobis, alias harum tempora officia aut consequuntur.</p>
    </blockquote>
  </figure>

<br><br>
<app-footer></app-footer>
