<app-header></app-header>

<div class="card" style="width: 18rem; margin-left: 2rem; margin-bottom: 3rem; margin-top: 1rem;" *ngFor="let producto of productos">
    <a routerLink="">
        <img src={{producto.imagen}} class="card-img-top" alt="Imagen producto">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre}}</h5>
      <p class="card-text">{{producto.descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">${{producto.precio}} / {{producto.cantidad}}</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-success">Comprar</button>
    </div>
    <br><br>
</div>

<br><br>

<app-footer></app-footer>